body{
	background-image: url('https://cdn.pixabay.com/photo/2014/12/21/23/26/cutting-board-575367_960_720.png');
	background-position: top-left;
	background-repeat: no-repeat;
	background-size: 60%;
	margin: 0% 15%;
}

#titulo-sitio{
	font-size: 4em;
	color: #d39a0a;
	text-shadow: #bc8609;
}

div#resumenes {
	border-bottom: 2px solid black;
	display:block;
}

div#resumenes div{
	border-radius: 10px;
	background-image: url('https://i.ytimg.com/vi/VR6Och_IaDE/maxresdefault.jpg');
	display: inline-block;
	margin-right: 10px;
}

div#resumenes div:hover{
	opacity: 0.7;
}

div#resumenes div span h3{
	font-variant: small-caps;
	border-bottom: 1px solid black;
}

div#resumenes div span h3 a:hover{
	color:#edc163;
	text-decoration: none;
}

div#resumenes div span h3 a:visited{
	color:#7c652e;
}

div#resumenes div span h3 a{
	color: #db990a;
	text-decoration: underline;
}

div#resumenes div span p:first-child{
	color: #d69f2a;
}

div#resumenes div span p:last-child{
	padding: 2px;
}

div#recetas div{
	display:block;
	border-bottom: 1pt dotted #e0d2b1;
}

div#recetas div span img{
	width: 20%;
	margin-top: 10px;
}

div#recetas div span:last-child{
	display: inline-block;
}

div#recetas div span p{
	width: 1000px;
	padding: 5px;
}
